@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --main-font: 'Bakbak One', sans-serif;
    --second-font: 'Montserrat', sans-serif;
}
#home{
    display: flex;
    flex-direction: column;
}

.home__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home__title{
    font-family: var(--main-font);
    margin-bottom: 0px;
}

@media (min-width:769px){
    #home__title{
        font-size: 35px;
    }
}
#home__message{
    font-family: var(--second-font);
    margin-top: 5px;
}

@media (min-width:769px){
    #home__message{
        font-size: 26px;
    }
}

.card-container {
    display: flex; /* Para alinear las cards en fila */
    justify-content: space-around; /* Espacio entre las cards */
    align-items: center;
    gap: 25px;
    flex-direction: column;
    margin: 20px; /* Margen alrededor del contenedor */
    margin-bottom: 60px;
}

@media (min-width: 769px){
    .card-container{
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px;
    }
}

.card {
    text-decoration: none; /* Sin subrayado en el enlace */
    color: black; /* Color del texto */
    width: 200px; /* Ancho de la card */
    height: 250px;
    text-align: center; /* Centrar el texto */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Para que no se salga el contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.2s; /* Transición suave */
}
@media (min-width: 769px){
    .card{
        height: 350px;
        width: 300px;
    }
}

.card:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el mouse */
}

.card-image {
    width: 100%; /* Ancho completo */
    height:200px; /* Altura de la imagen */
    background-size: cover; /* Cubrir el área */
}
@media(min-width:769px){
    .card-image{
        height: 300px;
    }
    
}

.cerati {
    background-image: url('images/ahi-vamos.jpg'); /* Cambia la ruta a la imagen de Cerati */
}

.soda {
    background-image: url('images/soda-logo2.png');
}

.card-title {
    font-size: 20px;
    padding: 10px; /* Espaciado interno */
    background-color: white; /* Fondo blanco */
    font-family: var(--second-font);
}
@media (min-width:769px){
    .card-title{
        font-size: 26px;
    }
}

#section__video-cerati{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 80vh;
}

.responsive-container {
    width: 100%;
    max-width: 800px; /* Máximo tamaño en desktop */
    margin: auto; /* Centra la sección */
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-iframe {
    position: relative;
    width: 100%;
    max-width: 360px; /* Móviles (9:16) */
    padding-bottom: 177.78%; /* Aspect ratio 9:16 */
    height: 0;
    overflow: hidden;
}

.responsive-iframe iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
}

/* En pantallas grandes (≥769px), cambia a 16:9 pero sin exceder la sección */
@media (min-width: 769px) {
    .responsive-iframe {
        max-width: 80%; /* Evita que se pase del contenedor padre */
        padding-bottom: 56.25%; /* Aspect ratio 16:9 */
        
    }

    .responsive-iframe iframe {
        width: 75%;
        height: 75%;
    }
}




