html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0; /* Asegúrate de eliminar el margen del body */
  padding: 0; /* Asegúrate de eliminar el padding del body */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 10vh;
  background-color: blue;
  width: 100%;
}

#search {
  padding-left: 15px;
  height: 50%;
  width: 40%;
  border: 2px solid black;
  border-radius: 7px;
}

#search__button {
  width: 10%;
  background-color: white;
  height: 50%;
  border: 2px solid black;
  border-radius: 7px;
}

.album-card {
  display: flex;
}
